.filter{
    fill: var(--primary-text-color);
    width: 20px;
    height: 20px;
}

.bred-filter{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px  ;
}

.filter-container{
    position: relative;
}

.dropdown {
    position: absolute;
    background-color: var(--light-secondary-background-color);
    z-index: 1;
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    transform: translate(-70%, -30%);
    width: 70px;
    height: 75px;
}

.dropdown button {
    border-color:  var(--secondary-text-color);
    padding: 3px;
    margin-bottom: 3px;
    width: 100%;
    border-radius: 13px;
}

.dropdown button:disabled{
    background-color: #FAF3D8FF;
    border-color: var(--primary-text-color);
}