.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 7px;
}

.not-found-img {
    border-radius: 10px;
    max-width: 100px;
    min-width: 200px;
}
.not-found-link{
    color: var(--secondary-background-color);
}
