*{
  margin: 0;
  padding: 0;
}

.App{
  color: #893e0f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'BeerMoney';
  src: url('./fonts/beer_money.ttf') format('truetype')
}

@font-face {
  font-family: 'LatoLight';
  src: url('./fonts/lato_light.ttf') format('truetype')
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(86, 109, 5, 0.65);
  color: #383a31;
  padding: 10px;
  height: 30px;
}
.header nav {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}
.header nav a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет от родительского элемента */
  font-family: 'LatoLight', sans-serif;
}

.text-logo{
  display: flex;
  font-family: 'BeerMoney', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.text-logo svg{
  height: 30px;
  width: 30px;
  fill: #383a31;
  margin-left: 10px;
}

.home{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home-img{
  position: absolute;
  max-height: 100%;
  z-index: -1;
}

.home h1 {
  font-family: 'LatoLight', sans-serif;
  position: absolute;
  transform: translate(-90%, -40%);
  font-size: 1rem; /* Размер текста */
  text-align: center;
  z-index: 1; /* Убедитесь, что текст выше фона */
}

.home-welcome{
  top: 33%;
  left: 50%;
}

.home-or {
  top: 49%;
  left: 30%;
}

.home button{
  position: absolute;
  text-decoration: none;
  background-color: rgba(86, 109, 5, 0.65);
  border: none;
  font-family: 'LatoLight', sans-serif;
  color:#383a31;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 1;
  padding: 7px;
  transform: translate(-90%, -40%);
}

.home-btn1{
  top: 43%;
  left: 43%;
}

.home-btn2{
  top: 55%;
  left: 39%;
}

.card{
  background-color: rgba(86, 109, 5, 0.65);
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
}

.card-img{
  overflow: hidden;
}

.card-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title{
  margin: 20px;
  font-size: 1rem;
  font-family: 'LatoLight', sans-serif;
  color:#383a31;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb-item {
  display: inline;
}

.breadcrumb-item a {
  text-decoration: none;
  font-family: 'LatoLight', sans-serif;
  color: #893e0f;
}

.breadcrumb-item a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pagination span {
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'LatoLight', sans-serif;
}

.pagination .active {
  background-color: rgba(86, 109, 5, 0.65);
  color:#383a31;
  border-radius: 50%; /* Круглая форма */
}

.card-btn{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  fill:#383a31;
}

.card-btn svg {
  width: 20px;
  height: 20px;
}

.filter{
  fill: #893e0f;
  width: 20px;
  height: 20px;
}

.bred-filter{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px  ;
}

.filter-container{
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: rgba(86, 109, 5, 0.65);
  z-index: 1;
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  transform: translate(-70%, -30%);
  width: 70px;
  height: 60px;
}

.dropdown button {
  background-color: rgba(86, 109, 5, 0.65);
  color:#383a31;
  border-color: #383a31;
  padding: 3px;
  margin-bottom: 3px;
  width: 100%;
  border-radius: 13px;
}

.dropdown button:disabled{
  background-color: #FAF3D8FF;
  border-color: #893e0f;
}

.form-container{
  width: 100%;
}

.form-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-container button{
  text-decoration: none;
  background-color: rgba(86, 109, 5, 0.65);
  border: none;
  font-family: 'LatoLight', sans-serif;
  color:#383a31;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  padding: 7px;
}

.recipe-container{
  margin: 15px;
}

.recipe-container img{
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

.recipe-summary{
  margin: 30px 0 10px 0;
}

.recipe-summary a {
  color: rgba(86, 109, 5, 1);
}

.recipe-tags-container{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-tags{
  background-color: rgba(86, 109, 5, 0.65);
  padding: 7px;
  border-radius: 15px;
  color:#383a31;
  margin: 3px;
}

.recipe-info-card-container{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.recipe-info-card-item{
  background-color: rgba(86, 109, 5, 0.65);
  border-radius: 10px;
  color: #383a31;
  padding: 7px;
  margin-bottom: 15px;
}

.recipe-info-card-item-detail{
  background-color: #FAF3D8FF;
  color: #893e0f;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
  margin-top: 5px;
}

.recipe-time-container{
  margin-top: 30px;
  display: flex;
  padding: 0 25px 40px 20px ;
  justify-content: space-between;
}

.recipe-time-item{
  display: flex;
  gap: 10px;
  margin-top: 7px;
}

.recipe-time-item svg{
  width: 21px;
  height: 21px;
  fill: #893e0f;
}

.product-item{
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}

.product-item-units{
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.product-item-container {
  position: relative;
}

.dotted-line {
  width: 100%;
  height: 1px; /* Высота линии */
  background: transparent; /* Фон линии */
  border-top: 4px dotted rgba(86, 109, 5, 0.65);
  position: absolute;
  left: 0;
  z-index: -1; /* Помещаем линию под элементами */
}

.recipe-instructions{
  margin-top: 45px;
}

.recipe-instructions p {
  margin-bottom: 15px;
}

.recipe-instructions-info ol{
  margin: 15px;
}

.card-btn-details{
  fill: rgba(86, 109, 5, 0.65);
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
