@font-face {
  font-family: 'BeerMoney';
  src: url('./fonts/beer_money.ttf') format('truetype')
}

@font-face {
  font-family: 'LatoLight';
  src: url('./fonts/lato_light.ttf') format('truetype')
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-background-color: rgba(237, 136, 5, 0.05);
  --secondary-background-color: rgba(86, 109, 5, 0.65);
  --primary-text-color: #893e0f;
  --secondary-text-color: #383a31;
  --light-secondary-background-color: rgba(86, 109, 5, 0.4);
  --error-background-color: rgba(255, 0, 0, 0.3);
  --error-text-color: rgba(255, 0, 0, 1);
  --primary-font-family: LatoLight;
  --secondary-font-family: BeerMoney;
}

html{
  height: 100%;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family), sans-serif ;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container{
  flex: 1;
}

button{
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  text-align: center;
  border: none;
  font-family: var(--primary-font-family), sans-serif;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  padding: 7px;
}


